.user-summary-container{
	margin-bottom:20px;
	border-style: solid;
	border-color: rgba(0, 0, 0, 0.1);
	border-width: 2px;
	border-radius:10px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; 
}

.user-summary-pic-container {
	height:200px;
	flex: 0 0 200px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	overflow:hidden;
	vertical-align:top;
}

.user-summary-pic {
	width:100%;
}

.user-summary-info {
	//width: 70%;
	//display:inline-block;
	padding: 15px;
	font-size: 15px;
}

.user-name {
	color: #3863a0;
	font-size: 24px;
}

.recommended {
  height: 70px;
	background-color: #edefed;
}
